.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-space {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-30 {
  flex: 0 1 31%;
}
.icon-div {
  text-align: right;
  margin-top: 1rem;
}

.fa-caret-up {
  font-size: 3rem;
  height: 45px;
  width: 50px;
  text-align: center;
  color: coral;
  font-weight: 800;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-20 {
  flex: 0 1 23%;
}

.flex-60 {
  flex: 0 1 50%;
}

.flex-40 {
  flex: 0 1 34%;
}

.flex-30 {
  flex: 0 1 30%;
}

.flex-65 {
  flex: 0 1 65%;
}

.flex-35 {
  flex: 0 1 30%;
}
