body {
  background-color: black;
  color: white;
  font-family: Gruppo;
}

a {
  text-decoration: none;
  color: white;
  font-family: Gruppo;
}

.container {
  max-width: 1050px;
  padding: 0 32px;
  margin: 0 auto;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
