@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .mn-sm-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .mn-sm-bet {
    width: 100%;
  }
  .mn-sm-margin {
    margin: 0.3rem 0;
  }

  .mn-left {
    position: absolute;
    top: 46rem;
  }

  .mn-right {
    position: absolute;
    top: 46rem;
  }
  .mn-flex-50 {
    height: 180px;
    width: 180px;
    margin: 0.5rem;
    /* border: 2px solid red; */

    background-color: rgb(64, 0, 0);
  }
  .mn-tool-box {
    display: flex;
    justify-content: space-around;
  }
  .mn-tools {
    font-size: 5rem;
  }
  /* .mn-flex-start {
    text-align: left;
    border: 2px solid red;
  } */
  .mn-tools-1 {
    min-width: 100px;
  }
}
