.projects {
  padding-top: 2rem;
  padding-bottom: 3rem;
  position: relative;
}

.left {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 8px;
  font-size: 2rem;
}

.right {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  right: 8px;
  font-size: 2rem;
}

.left:hover,
.right:hover {
  cursor: pointer;
}

.projects h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Rajdhani', sans-serif;
  padding: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.project-box {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  padding-bottom: 3rem;
  margin: 0 1rem;
}

.full-width {
  width: 100%;
  border-radius: 5px;
  height: 200px;
}
.full-width:hover {
  box-shadow: 2px 2px 4px 3px rgba(193, 32, 32, 0.3);
}
.project-item {
  background-color: #303030;
  padding: 1.4rem;
  border-radius: 5px;
  width: 31%;
  /* height: 450px;
  border: 2px solid blue; */
}
.tag-box {
  display: flex;
  justify-content: flex-end;
  margin: 0.6rem 0;
}
.tag-box p {
  margin-right: 1rem;
  border: 1px solid rgb(210, 210, 210);
  padding: 0.2rem 0.4rem;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.project-name {
  margin: 0.3rem 0;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-family: Gruppo;
  font-weight: bold;
}

.discription {
  margin: 0.3rem 0;
  font-size: 1.15rem;
  height: 4rem;
}
.repolink-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repolink-box a {
  margin: 0.25rem 1.2rem;
  margin-bottom: 0;
  font-size: 2rem;
}

.project-box :hover {
  background-color: #474444;
}
