@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .brand,
  .nav {
    display: none;
  }
  .bar {
    position: fixed;
    display: block;
    color: white;
    font-size: 1.7rem;
    padding-top: 1rem;
    right: 0;
    z-index: 7;
    padding-right: 0.7rem;
  }
  .nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 100vh;
    background-color: #303030;
    padding-top: 5rem;
    padding-left: 1rem;
    z-index: 6;
  }
  .nav li {
    margin: 1.5rem 0;
    border: transparent;
  }
  .nav li a {
    color: #8d9191;
  }
  .main-brand {
    position: fixed;
    display: inline-block;
    padding-top: 0.5rem;
    z-index: 20;
    left: 0;
    padding-left: 0.5rem;
  }
  #toggle:checked ~ .nav {
    display: inline-block;
  }
  .sm-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .sm-full-width {
    width: 100%;
  }
  .top-button {
    display: none;
  }
  .hero figure {
    width: 100%;
  }
  .projects .all-work img {
    width: 100%;
  }
  .sm-stata-div {
    display: flex;
    flex-direction: column;
  }
  .git-icon {
    position: relative;
  }
  .anchor-tags {
    position: absolute;
    top: -2.7rem;
  }
  .sm-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .sm-flex-50 {
    flex: 0 1 90%;
  }
  .sm-bet {
    width: 100%;
  }
  .sm-flex-60 {
    flex: 0 1 90%;
  }
  .sm-margin {
    margin: 0.2rem;
  }
  .sm-flex-35 {
    flex: 0 1 40%;
  }
  .sm-flex-45 {
    flex: 0 1 47%;
  }
  .sm-left {
    position: absolute;
    top: 43rem;
    left: 40%;
  }
  .sm-right {
    position: absolute;
    top: 43rem;
    right: 40%;
  }
}
