#tools h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Rajdhani', sans-serif;
  padding: 2rem;
  padding-top: 3.5rem;
}

#tools div {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#tools figure {
  padding: 0 2rem;
  min-width: 110px;
  width: 170px;
  height: 170px;
  flex: 0 1 15%;
  margin: 1rem;
  display: flex;
  background-color: rgba(193, 32, 32, 0.5);
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tools .figure1:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
}

#tools .figure2:hover {
  cursor: pointer;
  background-color: white;
  color: #303030;
  font-weight: bold;
}

#tools figure:hover .tool {
  transform: scale(1.2);
}

#tools .tool {
  font-size: 5rem;
}
#tools figcaption {
  font-size: 1.25rem;
  margin-top: 1rem;
}
